{% extends 'base.html' %}

<!-- Override base.html navbar -->
{% block navbar %}
    {% include 'navbarBack.html' %}
{% endblock navbar %}


{% block content %}
<head>
<style>

    q{
        font-size: 2em;
        font-style: italic;
        opacity: 0.5;
    }

    .quote {
        width: calc(100%-2em);
        text-align: center;
        border-left: 1px solid rgba(0,0,0,0.5);
        margin: 1em;
    }

    .articleSheet {
        width: calc(100% - 0);
        overflow: hidden;
        border-radius: 10px;
        margin-top: 50vh;
        
    }

    .heroImg{
        overflow: hidden;
        position: fixed;
        z-index: -1000;
        top: 2.5em;
        width: 100vw;
        height: 50vh;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .heroImg > img {
        object-fit: none;
        object-position: 50% 50%;
    }

    .btnContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(109px, 1fr));    
        gap: .5em;
    }

    .articleImg {
        width: calc(100%-2em);
        height: auto;
        padding: 1em;
    }

    .articleParagraphs {
        font-size: 1.1em;
    }

    

</style>
</head>

<body>
    <section>
        <div class="heroImg">
            <img src="https://www.astra-agro.co.id/wp-content/uploads/2018/04/Wow-Inilah-4-Kebijakan-Pemerintah-Jokowi-yang-Jadi-Sorotan-Dunia-2.jpg" alt="" >
        </div>
    </section>
    <section class="articleSheet bg-white border-black10">
        <div class="container-pad16 wrapper-375">
            <p>Politics</p>
            <h1>Ini Arahan Lengkap Jokowi Demi Mencegah Meluasnya Covid-19 di Indonesia.</h1>
            <br><br>

            <!-- Author & Status -->
            <p>NEWS UPDATE</p>
            <p>By Writer's Name</p>
            <p>1 hour ago • 5 min read</p>
            <br><br>

            <!-- Buttons -->
            <div class="btnContainer">
                <button class="cta-3 bg-white">Like</button>
                <button class="cta-3 bg-white">Dislike</button>
                <button class="cta-3 bg-white">Save</button>
                <button class="cta-full bg-black">Share</button>
            </div>
            <br><br>
            
            <!-- Article Images -->
            <a href="https://www.astra-agro.co.id/wp-content/uploads/2018/04/Wow-Inilah-4-Kebijakan-Pemerintah-Jokowi-yang-Jadi-Sorotan-Dunia-2.jpg">
                <div class="articleImg">
                  <img src="https://www.astra-agro.co.id/wp-content/uploads/2018/04/Wow-Inilah-4-Kebijakan-Pemerintah-Jokowi-yang-Jadi-Sorotan-Dunia-2.jpg" alt="" width="100%">
                </div>
            </a>

            {% include 'landingNewsUpdate.html' %}

            <div class="quote">
                <q>Helloooo</q>
            </div>
        <div class="articleParagraphs">
            {% lorem 3 p %}
        </div>            <!-- Paragraphs -->

            <br><br>

            <!-- Tags -->
            {% include 'articleTags.html' %}
            <br><br>

            <!-- Comment Section -->
            {% include 'articleComment.html' %}
            </div>
    </section>

</body>

{% endblock %}