<head>
    <style>
        .containerTags{
            display: inline-block;
        }
    </style>
</head>

<h2>Tags</h2>
<br>
<div class="containerTags">
    <div class="tags border-black10">
        <a href="">News Update</a>
    </div>
    <div class="tags border-black10">
        <a href="">Sport</a>
    </div>
    <div class="tags border-black10">
        <a href="">Sport</a>
    </div>
    <div class="tags border-black10">
        <a href="">Sport</a>
    </div>
    <div class="tags border-black10">
        <a href="">Sport</a>
    </div>
    <div class="tags border-black10">
        <a href="">Sport</a>
    </div>
    <div class="tags border-black10">
        <a href="">Sport</a>
    </div>
    <div class="tags border-black10">
        <a href="">Sport</a>
    </div>
    <div class="tags border-black10">
        <a href="">Sport</a>
    </div>
    <div class="tags border-black10">
        <a href="">Sport</a>
    </div>
    <div class="tags border-black10">
        <a href="">Sport</a>
    </div>

</div>