<h2>Comments</h2>
<br>
<textarea name="" id="" cols="30" rows="10"></textarea>
<br><br>
<button class="cta-full bg-white">Submit</button>
<br><br>

    <!-- Cards -->
<div class="container-pad16 wrapper-375 card-grid-verticalauto border-black10">
    <div>
        {% lorem 2 p %}
        <br>
    </div>
    <p>Afriza</p>
    <p>1 hours ago</p>
    <button class="cta-full bg-white">Reply</button>

</div>
<br>
<div class="container-pad16 wrapper-375 card-grid-verticalauto border-black10">
    <div>
        <h3>Apaan dah</h3>
    </div>
    <p>Afriza</p>
    <p>1 hours ago</p>
    <button class="cta-full bg-white">Reply</button>
</div>
<br>
<div class="container-pad16 wrapper-375 card-grid-verticalauto border-black10">
    <div>
        <h3>Apaan dah</h3>
        <br>
        <p>Afriza</p>
    </div>
    <button class="cta-full bg-white">Reply</button>
</div>
<br>
