{% extends 'base.html' %}

{% block navbar %}

{% endblock navbar %}

{% block content %}

<section class="container-pad16 wrapper-375">
    <h1>Login</h1>
    <form class="flexrow-llcl" action="{% url 'landing:landing' %}" method="post">
        {% csrf_token %} {% if form != None %} {{loginform}} {% else %}
        <br>
        <label for="username">Username: </label>
        <input id="id_username" type="text" name="username" placeholder="Unique username" value="{{ username }}" required>
        
        <label for="password">Password: </label>
        <input id="id_password" type="password" name="password" placeholder="Classified password" value="{{ password }}" required> 
        {% endif %}
       
        <input type="submit" class="cta-full bg-white" value="Login">

    </form>

</section>

{% endblock content %}

{% block footer %}

{% endblock footer %}


