{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Cretivox</title>

    <!-- Google Font  -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <style>
        .content{
            margin-top: 4em;

        }
    </style>
</head>
<body>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock navbar%}
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    {% include 'footer.html' %}
    
{% endblock footer %}


</body>
</html>