{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Django Account Login</title>
</head>

<body>

    <section class="container-100vh flexrow-ccc">
        <div class="flexrow-ccc">
            <div class="title">
                <h1>May I ask who you are?</h1>
            </div>
            <br> {% if user.is_authenticated %}
            <h2 class="welcome">Welcome back, {{ user.username }} !</h2>
            <p>You've succesfully login via Django</p>
            <a class="cta-white btn" href="{% url 'landing:landing'%}">Redirect to Dashboard!</a>
            <a class="logoutbtn btn" href="{% url 'logout'%}">logout</a> {% else %}

            <form class="flexrow-llcl" action="{% url 'account:login' %}" method="post">
                {% csrf_token %} {% if form != None %} {{loginform}} {% else %}
                <br>
                <label for="username">Username: </label>
                <input id="id_username" type="text" name="username" placeholder="Unique username" value="{{ username }}" required>
                <label for="password">Password: </label>
                <input id="id_password" type="password" name="password" placeholder="Classified password" value="{{ password }}" required> {% endif %}
                <input type="submit" class="loginbtn cta-white btn" value="Login!">

            </form>
            <a href="/account/signup">
                <p>Sign Up!</p>{% endif %}
        </div>
    </section>
</body>

</html>