{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Django Account</title>
</head>

<body>
    <section class="container-100vh flexrow-ccc">
        <div class="flexrow-ccc">
            <div class="title">
                <h1>Are you new here?</h1>
            </div>
            <br> {% if user.is_authenticated %}
            <h2 class="welcome">Welcome back, {{ user.username }} !</h2>
            <p>You've succesfully login via Django</p>
            <a class="cta-white btn" href="{% url 'landing:landing'%}">Redirect to Dashboard!</a>
            <a class="logoutbtn btn" href="{% url 'logout'%}">logout</a> {% else %}

            <a class="cta-white btn" href="{% url 'account:signup' %}">Yes I am</a>
            <a class="cta-white btn" href="{% url 'account:login' %}">No, I have an account</a>{% endif %}
        </div>
    </section>

</body>

</html>