<section class="bg-black">
    <div class="container-pad16">
        <h1>CRETIVOX</h1>
<br><br>
        <!-- Subscribe Card -->
        <div class="card-grid-vertical3 container-pad16 border-white">
            <p>Sign-up for the Complex Newsletter for breaking news, events, and unique stories</p>
            <input class="bg-black" type="email" name="" id="" placeholder="duar@cretivox.com">
            <input type="submit" value="Subscribe">        
        </div>
    </div>
</section>