<div class="hover container-pad16 card-grid-vertical2 border-black10 bg-white">
    <div class="card-grid-horizontal2-l">
        <h1>Title</h1>
        <div class=" bg-red">Img</div>
    </div>
    <div class="card-grid-horizontal2-l">
        <p>Kompas  •  1 hour ago</p>
        <p style="text-align: right;">•••</p>
    </div>
</div>
