
<!-- The Container -->
<div class="container-pad16 wrapper-375">
    <h1>{{titleCardVideo}}</h1>
</div>

<!-- Top News Card -->
<div class="container-pad16 wrapper-375">
    <div class=" hover container-pad16 card-grid-horizontal2-r border-black10">
    <div class="bg-red">
        Img
    </div>
    <div>
        <h1>Title</h1>
        <p>Kompas  •  1 hour ago</p>
    </div>
    </div>
</div>

{% for card in landingForYou.items %}

{% endfor %}
