
<!-- The Container -->
<div class="container-pad16 wrapper-375">
    <h1>{{forYouTitle}}</h1>
</div>
<div class="container-pad16 wrapper-375">
    <!-- For You Card -->
    {% include 'forYouCard.html' %}
</div>

{% for card in landingForYou.items %}

{% endfor %}
