<div class="container-pad16 wrapper-375 horizontal-scroll">
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>
    <a href="" class="slideNav">News Update</a>

</div>