
<head>
    <style>
        .container{
            display: grid;
            justify-content: start;
            align-content: flex-end;
            width: auto;
            max-width: 332px;
            height: 208px;
            padding: 1em;
            margin: 0 auto;
            background-image: 
                linear-gradient(rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)), 
                url('https://www.astra-agro.co.id/wp-content/uploads/2018/04/Wow-Inilah-4-Kebijakan-Pemerintah-Jokowi-yang-Jadi-Sorotan-Dunia-2.jpg');
            background-size: cover;
            color: white;

        }
    </style>
</head>
<!-- Top News Card -->
<div class="container-pad16 horizontal-scroll wrapper-375">
    <div class="wrapper-inline">
        <div class="hover container border-black10">
            <div>
                <h1>Ini Arahan Lengkap
                    Jokowi Demi Mencegah..
                </h1>
            </div>
            <div>            
                <p>Kompas  •  1 hour ago</p>
            </div>
        </div>
    </div>
    <div class="wrapper-inline">
        <div class="hover container border-black10">
            <div>
                <h1>Ini Arahan Lengkap
                    Jokowi Demi Mencegah..
                </h1>
            </div>
            <div>            
                <p>Kompas  •  1 hour ago</p>
            </div>
        </div>
    </div>
    <div class="wrapper-inline">
        <div class="hover container border-black10">
            <div>
                <h1>Ini Arahan Lengkap
                    Jokowi Demi Mencegah..
                </h1>
            </div>
            <div>            
                <p>Kompas  •  1 hour ago</p>
            </div>
        </div>
    </div>

</div>

{% for card in landingForYou.items %}

{% endfor %}
