
<!-- The Container -->
<div class="container-pad16 wrapper-375">
    <h1>{{topNewsTitle}}</h1>
</div>

<!-- Top News Card -->
<div class="container-pad16 horizontal-scroll wrapper-375">
    <div class="wrapper-inline">
        <div class="hover container-pad16 card-grid-vertical4 border-black10">
            <div class="full rad-top bg-red">
                <div>Img</div>
            </div>
            <div>
                <br>
                <p>Politics</p>       
            </div>
            <div>
                <h1>Title</h1>
            </div>
            <div>            
                <p>Kompas  •  1 hour ago</p>
            </div>
        </div>
    </div>
    <div class="wrapper-inline">
        <div class="hover container-pad16 card-grid-vertical4 border-black10">
            <div class="full rad-top bg-red">
                <div>Img</div>
            </div>
            <div>
                <br>
                <p>Politics</p>       
            </div>
            <div>
                <h1>Title</h1>
            </div>
            <div>            
                <p>Kompas  •  1 hour ago</p>
            </div>
        </div>
    </div>
    <div class="wrapper-inline">
        <div class="hover container-pad16 card-grid-vertical4 border-black10">
            <div class="full rad-top bg-red">
                <div>Img</div>
            </div>
            <div>
                <br>
                <p>Politics</p>       
            </div>
            <div>
                <h1>Title</h1>
            </div>
            <div>            
                <p>Kompas  •  1 hour ago</p>
            </div>
        </div>
    </div>
    <div class="wrapper-inline">
        <div class="hover container-pad16 card-grid-vertical4 border-black10">
            <div class="full rad-top bg-red">
                <div>Img</div>
            </div>
            <div>
                <br>
                <p>Politics</p>       
            </div>
            <div>
                <h1>Title</h1>
            </div>
            <div>            
                <p>Kompas  •  1 hour ago</p>
            </div>
        </div>
    </div>
    <div class="wrapper-inline">
        <div class="hover container-pad16 card-grid-vertical4 border-black10">
            <div class="full rad-top bg-red">
                <div>Img</div>
            </div>
            <div>
                <br>
                <p>Politics</p>       
            </div>
            <div>
                <h1>Title</h1>
            </div>
            <div>            
                <p>Kompas  •  1 hour ago</p>
            </div>
        </div>
    </div>

</div>

{% for card in landingForYou.items %}

{% endfor %}
