<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

#containerNav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: calc(100% - 2em);
  position: fixed;
  top: 0;
  padding: .75em 1em .75em 1em;
  align-items: center;
  max-height: 2.5em;
  z-index: 10001;
}

.burgerbtn{
  cursor: pointer;
  text-align: right;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10002;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#myCategories {
  display: block;
  overflow: hidden;
  height: 0px;
  width: 100%;
  z-index: 3000;
  background-color: #111;
  transition: 0.5s;
}

#navLogo {
  width: 100%;
  overflow: hidden;
}

#navSearch {
  display: flex;
  flex-direction: row;
  justify-content: flex-start ;
  align-items: center;
  border: 0px;
}

#searchBox {
  width: 0px;
  overflow: hidden;
  border: 0px;
  font-size: 1em;
  /* display: none; */
  margin: 0 1em 0 1em;
}

#searchResultContainer {
  /* Kalo punya class container-pad16 atau wrapper-375, gausah pake width */
  height: 0px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  z-index: 10000;
  backdrop-filter: blur(5px);
}

#navBurger {
  width: 100%;
  overflow: hidden;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Profile</a>
  <a href="#">Library</a>
  <a href="{% url 'landing:landing'%}">Home</a>
  <a href="{% url 'shows:shows'%}">Shows</a>
  <a href="#">Virals</a>
  <a onclick="openCat()">Categories</a>
  <div id="myCategories" class="container-pad16">
    <a href="{% url 'articles:sportsParent'%}">Sports</a>
    <a href="{% url 'articles:techParent'%}">Tech</a>
    <a href="{% url 'articles:lifestyleParent'%}">Lifestyle</a>
    <a href="{% url 'articles:celebParent'%}">Celebs</a>
    <a href="{% url 'articles:foodParent'%}">Foods</a>
  </div>
</div>

<!-- Search Result -->
<div id="searchResultContainer" class="container-pad16 wrapper-375" onclick="searchAnimate()">
  <br><br><br><br>
  {% include 'forYouCard.html' %}
  
</div>
  


<div id="containerNav" class="bg-white border-black10" style="  grid-template-columns: 1fr auto 1fr">
  {% block leftBtn %}
  <div id="navSearch" class="mainSearch">
    <svg onclick="searchAnimate()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="black"/>
      </svg>     
      <input id="searchBox" type="search" name="" id="">
      
      <!-- Full Page -->

    </div>
  {% endblock leftBtn %}

  <div id="navLogo">
    <h1>CRETIVOX</h1>
 </div> 
 
  <div id="navBurger" class="burgerbtn" onclick="openNav()">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" fill="black"/>
      </svg>
  </div>
</div>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
}


function openCat() {
  catToggle = document.getElementById("myCategories");
  console.log('clicked!')
  console.log(catToggle.style.height)
  if (catToggle.style.height == "100%") {
    console.log('close')
    catToggle.style.height  = "0px";
  } else {
    console.log('open')
    catToggle.style.height = "100%";
  }

}

function searchAnimate() {
  searchToggle = document.getElementById("navSearch");
  searchBox = document.getElementById("searchBox");
  searchResultContainer = document.getElementById("searchResultContainer");
  navLogo = document.getElementById("navLogo");
  navBurger = document.getElementById("navBurger");
  navContainer = document.getElementById("containerNav");

  if (navContainer.style.gridTemplateColumns == "1fr auto 1fr") {
    console.log(navContainer.style.gridTemplateColumns);
    console.log(searchToggle.style.textAlign);
    navContainer.style.gridTemplateColumns = "auto 0 0";
    searchToggle.style.justifyContent = "center";
    searchBox.style.width = "100%"
    searchBox.placeholder = "Search Something";
    searchResultContainer.style.height = 'calc(100vh - 2em)';
    // searchBox.style.display = "block";
  } else {
    console.log(navContainer.style.gridTemplateColumns);
    console.log(searchToggle.style.textAlign);
    navContainer.style.gridTemplateColumns = "1fr auto 1fr";
    searchToggle.style.justifyContent = "flex-start";
    searchBox.style.width = "0px";
    searchResultContainer.style.height = '0px';
    // searchBox.style.display = "none";
  }
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

</script>
   
</body>
