{% extends 'base.html' %}

<!-- Override base.html navbar -->
{% block navbar %}
    {% include 'navbarBack.html' %}
{% endblock navbar %}


{% block content %}
<head>
<style>
    .articleSheet {
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        
    }

    .heroImg{
        overflow: hidden;
    }
    

</style>
</head>

<body>
    <section>
        <!-- <div class="videoPlayer"> -->
            <div style="position:relative;padding-top:56.25%;">
              <iframe src="https://www.youtube.com/embed/JHm5CewwHuE" frameborder="0" allowfullscreen='true'
                style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
            </div>
        <!-- </div> -->
    </section>
    <section class="articleSheet bg-white border-black10">
        <div class="container-pad16 wrapper-375">
            <p>#GengFlannel</p>
            <h1>OBROLAN ARTIS ANTAR GENERASI ft. Sophia Latjuba & Sheryl Sheinafia</h1>
            <br>
            <p>74,486 views • 1 hour ago</p>
            <br><br>
            <p>
                OBROLAN ARTIS ANTAR GENERASI ft. Sophia Latjuba & Sheryl Sheinafia

Selamat datang di episode ke dua dar8 GENERASI KE GENERASI! 
Sebuah episode kolaborasi @Cretivox dengan @UNIQLO INDONESIA 

UNIQLO FLANNEL COLLECTION FALL/WINTER 2020

#GengFlannel
#UniqloIndonesia
#UniqloLifeWear

Kalau dalam video GENERASI KE GENERASI sebelumnya kita kedatangan 2 musisi keren & tampan, di video GENERASI KE GENERASI kali ini giliran kita kedatangan 2 wanita cantik & berbakat dari generasi yang berbeda.

Siapa lagi kalau bukan Sophia Latjuba & Sheryl Sheinafia! Sama seperti di episode sebelumnya bersama Iwan Fals & Rendy Pandugo, 2 wanita cantik ini juga ditantang untuk menjawab pertanyaan pertanyaan seru dari Cretivox! Tapi 2 Wanita Cantik ini seneng banget ngobrol jadi kita bakal lihat banyak sekali obrolan-obrolan seru dari mereka.

Penasaran bagaimana jawaban Sophia Latjuba & Sheryl Sheinafia, dua artis dari generasi yang berbeda menjawab pertanyaan pertanyaan seru dari kita dan obrolan mereka? Yuk nonton sampai habis!




CRETIVOX
We are a multi-platform entertainment media that provides you with snack-sized content for your daily fun, educational, and motivational experience!  

𝐒𝐩𝐨𝐧𝐬𝐨𝐫 𝐭𝐡𝐢𝐬 𝐬𝐞𝐫𝐢𝐞𝐬 : https://bit.ly/3g4Pns9
or send us an email to : Cretivox@gmail.com 

SUBSCRIBE : https://bit.ly/2khlltb
https://www.youtube.com/cretivox

𝗙𝗢𝗟𝗟𝗢𝗪 𝗨𝗦
𝙏𝙞𝙠𝙩𝙤𝙠             : https://www.tiktok.com/@cretivox
𝙄𝙣𝙨𝙩𝙖𝙜𝙧𝙖𝙢      : https://www.instagram.com/cretivox
𝙏𝙬𝙞𝙩𝙩𝙚𝙧           : https://www.twitter.com/cretivox
𝙁𝙖𝙘𝙚𝙗𝙤𝙤𝙠        : https://www.facebook.com/cretivox

Jika kalian tertarik ingin ada dalam video2 kita, silahkan kirimkan video perkenalan diri yang seru ke : TernyataVoxBegini@gmail.com

Cretivox Broadcasting Network  © 2020
            </p>
            <br><br>
            {% include 'articleTags.html' %}
            <br><br>
            </div>
    </section>

</body>

{% endblock content %}