/* DASHBOARD */

.landing .module table th {
    width: 100%;
}

.landing .module table td {
    white-space: nowrap;
}

.landing .module table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
