html, html * {
    margin: 0px;
    font-family: 'DM Sans', sans-serif;

}

.videoPlayer {
    position: fixed;
}

.grid-vertical {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.container-pad16 {
    padding: 1em;
    margin: 0 auto;
}

.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    -webkit-overflow-scrolling: touch;
}

a.slideNav{
    text-decoration: none;
    list-style: none;
    white-space: nowrap;
    margin-right: .5em;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
  }


.wrapper-inline{
    flex: 0 0 auto;
    margin: 0 1em 0 0;
}

.wrapper-375 {
    max-width: 812px;
}

.rad-top {
    border-radius: 3px 3px 0 0;
}

.full{
    width: calc(100% + 2em); 
    height: calc(100% + 2em); 
    margin: -1em; 
}

.hover{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .15s linear;
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    transition: transform .15s linear;
    position:relative;
}

.hover:hover{
    -webkit-transform: scale(1.05) !important;
    -moz-transform: scale(1.05) !important;
    -o-transform: scale(1.05) !important;
    transform: scale(1.05) !important;
    position: relative;

}

.puller {
    width: 100px;
    border-radius: 1000px;
    background-color: black;
    height: 5px;
}

.card-pos-332 {
    max-width: 332px;
    position: static;
    max-height: 208px;
    background-image: url('https://www.astra-agro.co.id/wp-content/uploads/2018/04/Wow-Inilah-4-Kebijakan-Pemerintah-Jokowi-yang-Jadi-Sorotan-Dunia-2.jpg');
    background-size: cover;
    border-radius: 5px;
}

.card-grid-vertical2 {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 1em;
    height: auto;
}

.card-grid-vertical2 {
    overflow: hidden;
    display: grid;
    max-height: 156px;
    grid-template-rows: 5.5em auto;
    row-gap: 1em;
}

.card-grid-vertical3 {
    overflow: hidden;
    display: grid;
    max-height: 300;
    max-width: 812px;
    width: auto;
    grid-template-rows: auto;
    row-gap: 1em;

}
.card-grid-vertical4 {
    overflow: hidden;
    display: grid;
    max-height: 300;
    max-width: 172;
    grid-template-rows: 8.5em auto auto auto;
    row-gap: 1em;
}

.card-grid-horizontal2-l {
    overflow: hidden;
    display: grid;
    max-height: 156px;
    grid-template-columns: auto 5.5em;
    column-gap: 1em;
}

.card-grid-horizontal2-r {
    overflow: hidden;
    display: grid;
    max-height: 156px;
    grid-template-columns: 8.5em auto;
    column-gap: 1em;
}


.border-white {
    border: 2px solid white;
    border-radius: 5px;
}

.border-black10 {
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 5px;

}

.bg-red {
    background-color: red;
    color: white;
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-white{
    background-color: white;
    color: black;
   
}

.br32{
    margin: 0 0 2em 0;
}

.br24{
    margin: 0 0 1.5em 0;
}

.br16{
    margin: 0 0 1em 0;
}

input[type=email] {
    max-width: 812px;
    width: 100%;
    padding: 1em 1em;
    
}

input[type=text] {
    max-width: 812px;
    width: 100%;
    padding: 1em 1em;
}

input[type=submit] {
    max-width: 812px;
    width: 100%;
    padding: 1em 1em;
}

textarea{
    max-width: 812px;
    width: 100%;
    padding: 1em 1em;
 
}

.cta-full {
    width: 100%;
    border-radius: 5px;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    border: 2px solid rgba(0,0,0,1);
}

.cta-3 {
    max-width: 100%;
    border-radius: 5px;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    border: 2px solid rgba(0,0,0,1);

}

.tags {
    display: inline-block;
    border-radius: 1000px;
    padding: .5em 1em .5em 1em;
    color: black;
    margin: .2em .1em .2em 0;
    /* line-height: 1em; */
}

.tags > a {
    text-decoration: none;
}